{% extends 'bootstrap/base.html' %}
{% block title %}Yoga Family{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Welcome Yoga !</a>
        </div>
        <div class="navbar-collapse collapse">
            {% block nav_right %}
            {% endblock nav_right %}

        </div>
    </div>
</nav>
{% endblock navbar %}